{
    "presets": [
        ["blueflag", {"browser": true, "library": true}]
    ],
    "ignore": ["./lib"],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
